<div class="container mx-auto">
    <app-header></app-header>
    <div class="py-12">
        <h1 class="text-white text-center text-2xl md:text-4xl lg:text-5xl font-bold fade-up">
            Software that speaks for itself!
        </h1>
        <div class="w-full px-5 md:px-20 flex gap-28 flex-col">
            <div class="w-full border-2"
                style="padding: 39px 36px;border-radius: 37px;border-right-width: 20px;border-bottom-width: 20px;">
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="w-full md:w-1/2">
                        <img src="./../../../assets/quintustech.e0d0c26e.jpg" alt="" class="w-full">
                    </div>
                    <div class="w-full md:w-1/2 flex flex-col gap-3 text-white">
                        <a
                            class="underline-offset-2 hover:underline text-xl md:text-2xl lg:text-3xl font-bold leading-snug md:leading-relaxed">
                            Software Development and Digital Marketing Website
                        </a>
                        <p class="text-sm md:text-base">
                            A cutting-edge website developed using Angular, Node.js, Angular Universal, MongoDB, and
                            Bootstrap. Seamlessly blending software development and digital marketing expertise to
                            deliver
                            exceptional user experiences and drive business growth. Discover how our innovative
                            solutions
                            can elevate your online presence and accelerate your success.
                        </p>
                        <button class="bg-white hover:bg-blue-600 py-2 px-4  rounded text-black">Visit
                            Project</button>
                    </div>
                </div>
            </div>
            <div class="w-full flex md:flex-row flex-col justify-between gap-12">
                <div class="border-2"
                    style="padding: 39px 36px;border-radius: 37px;border-right-width: 20px;border-bottom-width: 20px;">
                    <div class="flex flex-col gap-4">
                        <div class="w-full">
                            <img src="./../../../assets/quintustech.e0d0c26e.jpg" alt="" class="w-full">
                        </div>
                        <div class="w-full flex flex-col gap-3 text-white">
                            <a
                                class="underline-offset-2 hover:underline text-xl md:text-2xl lg:text-3xl font-bold leading-snug md:leading-relaxed">
                                Software Development and Digital Marketing Website
                            </a>
                            <button class="bg-white hover:bg-blue-600 py-2 px-4  rounded text-black">
                                Visit Project
                            </button>
                        </div>
                    </div>
                </div>
                <div class="border-2"
                    style="padding: 39px 36px;border-radius: 37px;border-right-width: 20px;border-bottom-width: 20px;">
                    <div class="flex flex-col gap-4">
                        <div class="w-full">
                            <img src="./../../../assets/quintustech.e0d0c26e.jpg" alt="" class="w-full">
                        </div>
                        <div class="w-full flex flex-col gap-3 text-white">
                            <a
                                class="underline-offset-2 hover:underline text-xl md:text-2xl lg:text-3xl font-bold leading-snug md:leading-relaxed">
                                Software Development and Digital Marketing Website
                            </a>
                            <button class="bg-white hover:bg-blue-600 py-2 px-4  rounded text-black">
                                Visit Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="w-full border-2"
                style="padding: 39px 36px;border-radius: 37px;border-right-width: 20px;border-bottom-width: 20px;">
                <div class="flex flex-col md:flex-row gap-4">
                    <div class="w-full md:w-1/2">
                        <img src="./../../../assets/quintustech.e0d0c26e.jpg" alt="" class="w-full">
                    </div>
                    <div class="w-full md:w-1/2 flex flex-col gap-3 text-white">
                        <a
                            class="underline-offset-2 hover:underline text-xl md:text-2xl lg:text-3xl font-bold leading-snug md:leading-relaxed">
                            Software Development and Digital Marketing Website
                        </a>
                        <p class="text-sm md:text-base">
                            A cutting-edge website developed using Angular, Node.js, Angular Universal, MongoDB, and
                            Bootstrap. Seamlessly blending software development and digital marketing expertise to
                            deliver
                            exceptional user experiences and drive business growth. Discover how our innovative
                            solutions
                            can elevate your online presence and accelerate your success.
                        </p>
                        <button class="bg-white hover:bg-blue-600 py-2 px-4  rounded text-black">Visit
                            Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>