<div class="container  mx-auto">
    <div class="p-5 flex items-center justify-between">
        <div class="space-x-4">
            <div class="desktop-view flex">
                <a routerLink="" class="mx-4 text-white no-underline font-bold box cursor-pointer active">Home
                    <div class="border-bottom border-2 line">
                    </div>
                </a>
                <a routerLink="/about" class="mx-4 text-white no-underline font-bold box cursor-pointer">About
                    <div class="border-bottom border-2 line">
                    </div>
                </a>
                <a routerLink="/project" class="mx-4 text-white no-underline font-bold box cursor-pointer">Projects
                    <div class="border-bottom border-2 line">
                    </div>
                </a>
            </div>
            <div class="mobile-view">
                <button class="flex-col justify-center items-center" (click)="toggle=!toggle">
                    <span class="bg-white block h-0.5 w-6 rounded-sm">
                    </span>
                    <span class="bg-white block h-0.5 w-6 rounded-sm my-[3px] opacity-100">
                    </span>
                    <span class="bg-white block h-0.5 w-6 rounded-sm">
                    </span>
                </button>
            </div>
        </div>
        <div class="text-white text-xl flex items-center justify-center border border-white rounded-full h-12 w-12">
            <span class="font-bold">AB</span>
        </div>
        <div class="space-x-4">
            <div class="desktop-view flex space-x-3">
                <img class="h-[28px]" src="./../../../assets/github-6980894_640.png" alt="">
                <img class="h-[28px]" src="./../../../assets/linked-in-2668700_640.png" alt="">
                <img class="h-[28px]" src="./../../../assets/phone-ringing-26.png" alt="">
            </div>
            <div class="mobile-view">
                <div class="text-white flex items-center justify-center bg-white rounded-full h-12 w-12">
                    <button class="text-black whitespace-nowrap text-xs">Hire Me</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-container *ngIf="toggle">
    <div class="fixed top-1/2 left-1/2 flex justify-center rounded-2xl border-0 
     items-center transform -translate-x-1/2 -translate-y-1/2 h-[60vh] md:w-[calc(100vw-180px)] w-[calc(100vw-100px)] z-10 flex-col"
        style="background: #ffffffc4;">
        <div class="flex flex-col gap-3 text-center">
            <a (click)="nagation('')" class="mx-4 text-black text-xl no-underline cursor-pointer"
                [ngClass]="{ 'border-b-2 border-black': true }">
                Home
            </a>
            <a (click)="nagation('about')" class="mx-4 text-black text-xl no-underline cursor-pointer">
                About
            </a>
            <a (click)="nagation('project')" class="mx-4 text-black text-xl no-underline cursor-pointer">Projects
            </a>
        </div>
        <div class="flex pt-7 space-x-3">
            <img class="h-[28px]" src="./../../../assets/github-6980894_640.png" alt="">
            <img class="h-[28px]" src="./../../../assets/linked-in-2668700_640.png" alt="">
            <img class="h-[28px]" src="./../../../assets/phone-ringing-26.png" alt="">
        </div>
    </div>
</ng-container>