<div class="container  mx-auto">
    <div class="p-5 flex items-center justify-between">
        <div class="space-x-4">
            <div class="mobile-view">
                <i class="fas fa-bars text-white text-4xl" *ngIf="!close" (click)="openDialog()"></i>
                <i class="fas fa-xmark text-white text-4xl" *ngIf="close"></i>
            </div>
            <div class="desktop-view flex">
                <a href="#" class="mx-4 text-black no-underline font-bold active sec">Home</a>
                <a href="#" class="mx-4 text-black no-underline font-bold sec">About</a>
                <a href="#" class="mx-4 text-black no-underline font-bold ">Projects</a>
            </div>
        </div>
        <div class="text-white text-xl flex items-center justify-center border-2 border-white rounded-full h-12 w-12">
            <span class="font-bold">AB</span>
        </div>
        <div class="space-x-4">
            <div class="mobile-view">
                <div class="relative group">
                    <span
                        class="text-3xl text-white border-2 border-transparent hover:border-blue-500 transform origin-center transition-transform group-hover:animate-spin">
                        Hire Me
                    </span>
                </div>
            </div>
            <div class="desktop-view flex space-x-3">
                <img class="h-[28px]" src="./../../../assets/github-6980894_640.png" alt="">
                <img class="h-[28px]" src="./../../../assets/linked-in-2668700_640.png" alt="">
                <img class="h-[28px]" src="./../../../assets/instagram-1675670_640.png" alt="">
                <img class="h-[28px]" src="./../../../assets/phone-ringing-26.png" alt="">
            </div>
        </div>
    </div>
</div>