<div class="mx-auto container">
    <app-header></app-header>
    <div class="flex flex-col md:flex-row gap-3">
        <div class="md:w-1/12 w-full">
            <div class="absolute bottom-0 desktop-view">
                <div class="m-7 text-white flex items-center justify-center bg-white rounded-full h-12 w-12">
                    <button class="text-black whitespace-nowrap text-xs">Hire Me</button>
                </div>
            </div>
        </div>
        <div class="md:w-5/12 w-full">
            <img src="./../../../assets/SalmanKhanpngimage.png" alt="" class="w-full md:h-auto">
        </div>
        <div class="md:w-6/12 w-full">
            <div class="flex flex-col justify-center pt-3 md:pt-24 px-3 md:px-12">
                <h1 class="text-white text-2xl md:text-4xl lg:text-5xl font-bold fade-up">
                    Turning Vision Into Reality With Code
                    And Design.
                </h1>
                <p class="text-white text-base md:text-lg lg:text-base font-medium leading-6 md:leading-7">
                    Extensive 4+ experience in executing full life-cycle application development projects; ramping-up
                    projects within time, budget & quality parameters, targeting assignment in Full Stack Development
                    with
                    an organization of repute in IT industry.
                </p>
                <div class="pt-3 md:pt-5">
                    <div class="flex md:flex-row gap-3 items-center">
                        <button class="bg-white flex px-3 py-2 rounded items-center text-center">
                            Resume
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                class="w-6 h-6 ml-1">
                                <path fill="none" d="M0 0h24v24H0z"></path>
                                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 7H6a2 2 0 0 0-2 2v9a2 2 0 0 0 2 2h9a2 2 0 0 0 2-2v-5m-7 1L20 4m-5 0h5v5">
                                </path>
                            </svg>
                        </button>
                        <a href="" class="text-white py-2 md:py-0">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>